@media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%;
    }
  }

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
      }
  body {
    padding: 0;
    height: 100%;
  }

  .hero {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .hero-info {
    padding: 5rem;
    margin-top: 60%;
    width: 100%;
  }

  .hero-img {
    order: -1;
    width: 100%;
  }

  .hero-img img {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 8%;
  }

  .hero-info__img-container {
    display: block;
    width: 100%;
    padding: 2rem;
    background-color: #fefefe;

    position: absolute;
    top: 0;
  }
}

@media only screen and (max-width: 30em) {
  .hero-info {
    padding: 2rem;
    margin-top: 95%;
  }

  .text-container__heading {
    margin: 0;
  }

  .text-container__paragraph {
    font-size: 1.6rem;
  }
}
