*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --text-size-default: 1.6rem;
  --text-size-title: 2rem;

  --color-primary: hsl(0, 36%, 70%);
  --color-secondary: hsl(0, 93%, 68%);
  --color-accent: hsl(0, 6%, 24%);
  --gradient-primary: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --gradient-secondary: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );

  --text-family: "Josefin Sans", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: var(--text-family);
  font-size: var(--text-size-default);
  padding: 8rem;
  background-image: var(--gradient-primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

::selection {
  background-color: hsl(0, 93%, 68%);
  color: #fff;
}

.hero {
  display: flex;
  justify-content: center;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

  width: 80%;
  height: 100vh;

  margin-bottom: 1rem;

  overflow: hidden;
}

.hero-info {
  width: 60%;
  height: 100%;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-position: center;
  background-size: cover;
  padding: 4rem 10rem;
}

.text-container__logo {
  height: 2.5rem;
}

.text-container__heading {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 3rem 0;
  letter-spacing: 1.2rem;
  color: var(--color-accent);
}

.text-container__heading span {
  display: block;
  color: var(--color-primary);
  font-weight: 300;
}

.text-container__paragraph {
  color: var(--color-primary);
  line-height: 2;
  font-size: 1.2rem;
}

.hero-img {
  width: 40%;
  height: 100%;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

form {
  margin: 3rem 0;
  display: flex;
  position: relative;
}

.text-container__input {
  padding: 1.2rem 1.4rem;
  width: 100%;
  border-radius: 200px;
  border: 1px solid var(--color-primary);
  background-color: transparent;
  outline: none;
  flex: 1;
}

.error-message {
  font-size: 0.9rem;
  display: none;
  margin-top: 0.9rem;
  color: var(--color-primary);
  position: absolute;
  bottom: -15px;
  left: 1.6rem;
}

.error-icon
{   color: white;
    background-color: var(--color-secondary);
    background-image: url(../images/icon-error.svg);
    background-position: center;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    margin: 0 0.5vmin;
    display: none;
    position: absolute;
    top: 25%;
    right: 20%;
}

.text-container__input:focus:invalid {
  border: 3px solid var(--color-secondary);
}
.text-container__input:focus:invalid ~ .error-message,
.text-container__input:focus:invalid ~ .error-icon {
  display: block;
}

::placeholder {
  color: var(--color-primary);
  font-weight: 300;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  border: none;
  border-radius: 200px;

  background-image: var(--gradient-secondary);
  background-size: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: all 0.2s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(0.9);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
